.scannerwork
.sonarlint
.scannerwork/.sonartmp/eslint-bridge-bundle/package/lib/server.d.ts
run-sonar-analysis.sh

.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
terraform.tfvars
!infra/variables.tf
!infra/main.tf
ai-rating/node_modules/*
JULES_PROMPT.md
all_environments.txt
.jules/sentinel.md
.vscode
.jules/sentinel.md
.jules
.agent
plan.txt
