.scannerwork
.sonarlint
.scannerwork/.sonartmp/eslint-bridge-bundle/package/lib/server.d.ts
run-sonar-analysis.sh
admin/.env
.DS_Store
ai-rating/node_modules/*
JULES_PROMPT.md
all_environments.txt
.jules/sentinel.md
.vscode/settings.json
